{var $robots = noindex}

{block body}
	<div class="container">

		{form signInForm, class => 'form-signin'}
			<h2 class="form-signin-heading">Please sign in</h2>
			{input username, class => 'form-control', autofocus => 'autofocus'}
			{input password, class => 'form-control'}
			{label remember, class => 'checkbox'}
				{input remember} {$form['remember']->label->getText()}
			{/label}
			{input send, class => 'btn btn-lg btn-primary btn-block'}
		{/form}

	</div> <!-- /container -->
{/block}

{* {include '../components/form.bootstrap.latte', form => $presenter[signInForm]}			 *}



{block head}
	<style>
	body {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #eee;
	}

	.form-signin {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
		margin-bottom: 10px;
	}
	.form-signin .checkbox {
		font-weight: normal;
	}
	.form-signin .form-control {
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.form-signin .form-control:focus {
		z-index: 2;
	}
	.form-signin input[type="text"] {
		margin-bottom: -1px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	</style>
{/block}