<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Nette Application Skeleton{/block}</title>

	<!-- Bootstrap core CSS -->
	<link href="{$basePath}/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{$basePath}/bootstrap/css/bootstrap-theme.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{$basePath}/css/screen.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	{block head}{/block}
</head>
<body>
	<script> document.body.className+=' js' </script>


	{block body}
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" n:href="Homepage:">Project name</a>
			</div>
			<div class="collapse navbar-collapse">
				<p class="navbar-text pull-right">
					Logged in as <a href="#" class="navbar-link">Username</a>
				</p>
				<ul class="nav navbar-nav">
					<li n:class="$presenter->isLinkCurrent('Homepage:*')? active"><a n:href="Homepage:">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div><!--/.nav-collapse-->
		</div><!--/.container-->
	</div><!--/.navbar-->

	<div class="container">

		<div class="row row-offcanvas row-offcanvas-right">
			<!-- Minor nav -->
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
				<div class="list-group">
					<a href="#" class="list-group-item active">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
				</div>
			</div><!--/Minor nav-->

			<!-- Content -->
			<div class="col-xs-12 col-sm-9">

				<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{$flash->message}
				</div>
				{block content}{/block}          

			</div><!--/Content-->
		</div><!--/.row-->

		<hr>

		<footer>
			<p>&copy; Company 2013</p>
		</footer>

	</div><!--/.container-->
	{/block}



	{block scripts}
	<script src="{$basePath}/jQuery/jquery.js"></script>
	<script src="{$basePath}/jQuery/jquery-migrate.js"></script>
	<script src="{$basePath}/bootstrap/js/bootstrap.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>